body {
  background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-color:
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  font-family: Sans-Serif;
  padding: 20px;
}
.menu {
  border:;
  background-color: #f0f0f0;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 50px;
  box-shadow:  10px 20px 40px #929292,
             -20px -20px 40px #ffffff; */
}
hr {
  height: 2px;
  background-color: white;
}
h1, h2 {

  color: #fddcb1;
  text-shadow:  1px 2px 1px black;
  text-align: center;
}
h3, h4 {
  font-size: 12px;
  color: black;
  text-shadow:  1px 1px 2px #f5f5f5;
  text-align: center;
}
.productline p {
  font-weight: normal;
  color: black;
  text-shadow: 2px px 1px green;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: ;
}
.product {
  text-align: left;
  width: 75%;
  font-size: 13px;
}
.price {
  text-align: right;
  width: 25%;
} 
img {

  width: 70%;
  position: absolute;
  opacity: 12%;
  height: auto;
  top: 240px;
 }
 .center {
   position: relative;
   text-align: center;
 }