body {
  background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-color:
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-family: Serif;
  padding: 20px;
}
.order-container {
  border:;
  background-color: #f0f0f0;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 50px;
box-shadow:  28px 28px 56px #929292,
             -28px -28px 56px #ffffff;
.form-container {
  border: 5px double #fddcb1;
  border-radius: 50px;
  box-shadow: 10px 10px 10px #929292;
              -10px -10px  10px #fffff;
}
.quantity {
  background-color: #ffffff;
  margin-left: auto;
  width: 50px !important;
  border: 2px groove #fddcb1;
  border-radius: 150px;
}
.form-check {
  display: flex; /* Use flexbox to align elements horizontally */
  align-items: center; /* Vertically center items within the container */
  justify-content: space-between;
}
a {
  text-decoration: none;
  margin: auto; 
  border: 3px groove white !important;"
}
